<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="BASIC">
		<field
			name="ratings"
			type="radio"
			label="COM_COMMENTS_ENABLE_RATINGS_LABEL"
			description="COM_COMMENTS_ENABLE_RATINGS_DESC"
			default="1">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field
			name="catid"
			type="category"
			extension="com_content"
			multiple="true"
			size="8"
			label="JCATEGORY"
			description="COM_COMMENTS_CATEGORY_DESC">
				<option value="">
						JOPTION_ALL_CATEGORIES
				</option>
		</field>

		<field
			name="include_child"
			type="radio"
			default="0"
			label="COM_COMMENTS_CATEGORY_INCLUDE_CHILD_LABEL"
			description="COM_COMMENTS_CATEGORY_INCLUDE_CHILD_DESC">
				<option value="1">
					COM_COMMENTS_CATEGORY_OPTION_INCLUDE_VALUE
				</option>
				<option value="0">
					COM_COMMENTS_CATEGORY_OPTION_EXCLUDE_VALUE
				</option>
		</field>
	</fieldset>

	<fields name="bbcode">
	<fieldset name="BBCODE">
		<field
			name="enabled"
			type="radio"
			label="COM_COMMENTS_ENABLE_BBCODE_LABEL"
			description="COM_COMMENTS_ENABLE_BBCODE_DESC"
			default="1">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field
			type="spacer"
			label="COM_COMMENTS_BBCODE_FILTERS_LABEL"
			description="COM_COMMENTS_BBCODE_FILTERS_DESC"/>

		<field
			type="spacer"
			hr="true"/>

		<fields name="filters">
		<field
			name="default"
			type="radio"
			label="COM_COMMENTS_BBCODE_FILTERS_DEFAULT_LABEL"
			description="COM_COMMENTS_BBCODE_FILTERS_DEFAULT_DESC"
			default="1">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field
			name="text"
			type="radio"
			label="COM_COMMENTS_BBCODE_FILTERS_TEXT_LABEL"
			description="COM_COMMENTS_BBCODE_FILTERS_TEXT_DESC"
			default="1">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field
			name="block"
			type="radio"
			label="COM_COMMENTS_BBCODE_FILTERS_BLOCK_LABEL"
			description="COM_COMMENTS_BBCODE_FILTERS_BLOCK_DESC"
			default="0">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field
			name="image"
			type="radio"
			label="COM_COMMENTS_BBCODE_FILTERS_IMAGE_LABEL"
			description="COM_COMMENTS_BBCODE_FILTERS_IMAGE_DESC"
			default="1">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field
			name="list"
			type="radio"
			label="COM_COMMENTS_BBCODE_FILTERS_LIST_LABEL"
			description="COM_COMMENTS_BBCODE_FILTERS_LIST_DESC"
			default="0">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field
			name="quote"
			type="radio"
			label="COM_COMMENTS_BBCODE_FILTERS_QUOTE_LABEL"
			description="COM_COMMENTS_BBCODE_FILTERS_QUOTE_DESC"
			default="1">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field
			name="url"
			type="radio"
			label="COM_COMMENTS_BBCODE_FILTERS_URL_LABEL"
			description="COM_COMMENTS_BBCODE_FILTERS_URL_DESC"
			default="1">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field
			name="video"
			type="radio"
			label="COM_COMMENTS_BBCODE_FILTERS_VIDEO_LABEL"
			description="COM_COMMENTS_BBCODE_FILTERS_VIDEO_DESC"
			default="1">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field
			name="code"
			type="radio"
			label="COM_COMMENTS_BBCODE_FILTERS_CODE_LABEL"
			description="COM_COMMENTS_BBCODE_FILTERS_CODE_DESC"
			default="0">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field
			name="email"
			type="radio"
			label="COM_COMMENTS_BBCODE_FILTERS_EMAIL_LABEL"
			description="COM_COMMENTS_BBCODE_FILTERS_EMAIL_DESC"
			default="0">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>
		</fields>

		<field
			name="whitelist"
			type="text"
			label="COM_COMMENTS_BBCODE_WHITELIST_LABEL"
			description="COM_COMMENTS_BBCODE_WHITELIST_DESC"
			default=""/>
	</fieldset>
	</fields>

	<fields name="html">
	<fieldset
		name="html">

		<field
			name="allow"
			type="radio"
			label="COM_COMMENTS_ALLOW_HTML_LABEL"
			description="COM_COMMENTS_ALLOW_HTML_DESC"
			default="0">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field
			type="spacer"
			label="COM_COMMENTS_HTML_FILTERS_LABEL"
			description="COM_COMMENTS_HTML_FILTERS_DESC"/>

		<field
			type="spacer"
			hr="true"/>

		<field
			name="filters"
			type="filters"
			label="" />
	</fieldset>
	</fields>

	<fieldset name="emoticons">
		<field
			name="emoticons_enabled"
			type="radio"
			label="COM_COMMENTS_ENABLE_EMOTICONS_LABEL"
			description="COM_COMMENTS_ENABLE_EMOTICONS_DESC"
			default="1">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field
			type="spacer"
			hr="true"/>

		<field
			name="emoticons"
			type="emoticons"/>
	</fieldset>

	<fieldset name="FORM">
		<field
			name="name"
			type="list"
			label="COM_COMMENTS_SHOW_NAME_LABEL"
			description="COM_COMMENTS_SHOW_NAME_DESC"
			default="1">
				<option value="-1">COM_COMMENTS_OPTION_DISABLE_VALUE</option>
				<option value="0">COM_COMMENTS_OPTION_UNREQUIRED_VALUE</option>
				<option value="1">COM_COMMENTS_OPTION_REQUIRED_VALUE</option>
		</field>

		<field
			name="email"
			type="list"
			label="COM_COMMENTS_SHOW_EMAIL_LABEL"
			description="COM_COMMENTS_SHOW_EMAIL_DESC"
			default="1">
				<option value="-1">COM_COMMENTS_OPTION_DISABLE_VALUE</option>
				<option value="0">COM_COMMENTS_OPTION_UNREQUIRED_VALUE</option>
				<option value="1">COM_COMMENTS_OPTION_REQUIRED_VALUE</option>
		</field>

		<field
			name="minimum_chars"
			type="text"
			label="COM_COMMENTS_MINIMUM_CHARS_LABEL"
			description="COM_COMMENTS_MINIMUM_CHARS_DESC"
			default="5"
			size="5"/>

		<field
			name="maximum_chars"
			type="text"
			label="COM_COMMENTS_MAXIMUM_CHARS_LABEL"
			description="COM_COMMENTS_MAXIMUM_CHARS_DESC"
			default="500"
			size="5"/>

		<field
			name="check_names"
			type="radio"
			label="COM_COMMENTS_CHECK_NAMES_LABEL"
			description="COM_COMMENTS_CHECK_NAMES_DESC"
			default="1">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field
			name="forbidden_names"
			type="textarea"
			cols="35"
			rows="4"
			label="COM_COMMENTS_FORBIDDEN_NAMES_LABEL"
			description="COM_COMMENTS_FORBIDDEN_NAMES_DESC"
			default="admin, administrator, moderator"/>
	</fieldset>

	<fieldset name="LAYOUT">
		<field
			name="form_position"
			type="list"
			label="COM_COMMENTS_FORM_POSITION_LABEL"
			description="COM_COMMENTS_FORM_POSITION_DESC"
			default="before">
				<option value="before">COM_COMMENTS_FORM_POSITION_OPTION_BEFORE</option>
				<option value="after">COM_COMMENTS_FORM_POSITION_OPTION_AFTER</option>
		</field>
		<field
			name="ordering"
			type="list"
			label="COM_COMMENTS_ORDERING_LABEL"
			description="COM_COMMENTS_ORDERING_DESC"
			default="DESC">
				<option value="DESC">COM_COMMENTS_ORDERING_OPTION_DESC</option>
				<option value="ASC">COM_COMMENTS_ORDERING_OPTION_ASC</option>
		</field>

		<field
			name="limit"
			type="integer"
			label="COM_COMMENTS_LIMIT_LABEL"
			description="COM_COMMENTS_LIMIT_DESC"
			default="20"
			first="5"
			last="100"
			step="5">
				<option value="0">JALL</option>
		</field>

		<field
			name="top_comments"
			type="integer"
			label="COM_COMMENTS_TOP_COMMENTS_LABEL"
			description="COM_COMMENTS_TOP_COMMENTS_DESC"
			default="0"
			first="1"
			last="10"
			step="1">
				<option value="0">JNONE</option>
		</field>

		<field
			name="field_name"
			type="list"
			label="COM_COMMENTS_FIELD_NAME_LABEL"
			description="COM_COMMENTS_FIELD_NAME_DESC"
			default="name"
			validate="options">
				<option value="name">COM_COMMENTS_OPTION_NAME</option>
				<option value="username">COM_COMMENTS_OPTION_USERNAME</option>
		</field>

		<field
			name="link"
			type="components"
			label="COM_COMMENTS_LINK_LABEL"
			description="COM_COMMENTS_LINK_DESC"
			default="">
				<option value="">JNO</option>
				<option value="com_community">COM_COMMENTS_OPTION_JOMSOCIAL</option>
				<option value="com_kunena">COM_COMMENTS_OPTION_KUNENA</option>
		</field>

		<field
			name="avatar"
			type="components"
			label="COM_COMMENTS_AVATAR_LABEL"
			description="COM_COMMENTS_AVATAR_DESC"
			default="gravatar">
				<option value="0">JNONE</option>
				<option value="gravatar">COM_COMMENTS_OPTION_GRAVATAR</option>
				<option value="com_community">COM_COMMENTS_OPTION_JOMSOCIAL</option>
				<option value="com_kunena">COM_COMMENTS_OPTION_KUNENA</option>
				<option value="com_k2">COM_COMMENTS_OPTION_K2</option>
		</field>
	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		addfieldpath="/administrator/components/com_slicomments/models/fields"
		>

		<field
			name="rules"
			type="Permissions"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules" />
	</fieldset>
</config>