@import 'nib/vendor'
@import 'nib/gradients'

/* Helper Function */
image(path)
	unquote('url(../img/' + path + ')')

.icon-48-comments
	background-image image('icon48.png')

.icon-32-approve
	background-image image('approve32.png')

.icon-approve::before
	content "G"
	color #51A351

.icon-32-unapprove
	background-image image('unapprove32.png')

.icon-unapprove::before
	content "J"
	color #BD362F

.icon-32-spam
	background-image image('spam32.png')

.icon-spam::before
	content "5"

.icon-32-restore
	background-image image('restore32.png') !important

.icon-32-edit
	background-image image('edit32.png') !important

.icon-32-trash
	background-image image('trash32.png') !important

.icon-32-delete
	background-image image('delete32.png') !important

.icon-32-options
	background-image image('options32.png') !important

#adminForm .copyright
	text-align center
	margin 15px 0 0 0

.adminlist td
	position relative

.adminlist thead th
	text-align left !important
	padding-left 8px !important
	&:first-child
		text-align center !important
		padding-left 4px !important

#sort-by-options
	display inline-block
	float right
	.sort-dir-desc, .sort-dir-asc
		color #666

.editing .actions
	display none !important

.edit
	width 100%
	box-sizing border-box
	padding 0

.text
	font-size 13px
	color #333
	margin 5px 0

.comment-email
	span
		display inline-block
		text-overflow ellipsis
		overflow hidden
		max-width 125px
		padding-left 4px
		padding-right 1px
	&::before
		content "("
		position absolute
	&::after
		content ")"
		position absolute

.comments-post
	float right
	margin 5px 5px 0 0

td:hover .actions
	visibility visible

.actions
	list-style-type none
	padding 0
	margin 0
	visibility hidden
	li
		display inline-block
		margin 2px
		border-right 1px solid #333
		padding-right 4px
		&:last-child
			border 0
	.approve-comment a
	.not-spam-comment a
	.restore-comment a
		color #006505
	.unapprove-comment a
		color #D98500
	.spam-comment a
	.trash-comment a
	.delete-comment a
		color #BC0B0B

.approved, .unapproved
	.not-spam-comment
	.restore-comment
	.delete-comment
		display none
	.trash-comment
		border 0

.approved
	.approve-comment
		display none

.unapproved
	.unapprove-comment
		display none

.spam, .trashed
	.unapprove-comment
	.approve-comment
	.spam-comment
	.trash-comment
		display none

.spam
	.restore-comment
		display none

.trashed
	.not-spam-comment
	.edit-comment
		display none

.slicomments-quote
	border 1px solid black
	background #FFC
	padding 10px
	margin 0 0 15px 15px
	border-radius 10px
	& .slicomments-quoteDate
		color #999
		font-size 0.8em

.info-filters
	color #333
	margin 0 0 5px 5px

#clear-filters
	display none
	padding-left 14px
	background image('clear.png') no-repeat
	color #333

#filter-status
	margin 0

.hasFilters
	#clear-filters
		display inline
	#no-filters
		display none

.filter-input
	width 160px
	padding 2px
	margin 5px 0 !important
	color #333
	background #F9F9F9
	font-family "Monaco", "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "monospace"
	height 14px
	font-size 1em
	background-color white !important
	&:focus
		border-color #999
	&[type=search]
		-webkit-appearance none
		box-sizing content-box


.filter-select
	position relative
	.filter-container
		display none
		padding 5px 10px
		min-width 80px
		position absolute
		top 100%
		border 1px solid #AAA
		right 0
		z-index 5
		margin-top -1px
		background #EDEDED
	.cssgradients & .filter-container
		background linear-gradient(top, #FFF, #DCDCDC)
	&.open .filter-container
		display block
	fieldset
		margin 2px
		border none
		padding-bottom 0
	ul
		overflow hidden
		li
			clear both
			padding 0
			overflow hidden
			margin 5px 0
	label
		cursor pointer
		color #404040
		text-shadow 1px 1px rgba(0, 0, 0, .1)
		background image("custom-inputs.png") 0 -1px no-repeat
		height 16px
		padding-left 20px
		margin 0

.filter-button
	width 40px
	height 25px
	position relative
	margin 0
	padding 0
	cursor pointer
	box-shadow inset 0 0 0 1px #fff, 0 1px 2px rgba(0,0,0,.1)
	border solid 1px #b7b7b7
	font-size 1.1em
	color #606060
	margin-left -1px
	background #fff
	background linear-gradient(top, #fff,  #ededed)
	&:hover
		background #ededed
		background linear-gradient(top, #fff,  #dcdcdc)
		z-index 1
	.open &
		background #ededed
		background linear-gradient(top, #ededed,  #fff)
		color #999
	.filter-icon
		margin 1px 0 0 5px
		float left
	.arrow-down
		margin 0
		padding 0
		width 0
		height 0
		border 4px solid transparent
		border-top-color #808080
		position absolute
		top 9px
		right 4px

.spinner-container
	background-color white
	opacity 0.7
	z-index 1

.icon-sort
	&.sort-dir-asc
		background url(../../system/images/sort_asc.png) no-repeat
		padding-left 12px
		margin-left 3px
	&.sort-dir-desc
		background url(../../system/images/sort_desc.png) no-repeat
		margin-left 3px
		padding-left 12px

.no-comments
	text-align center
	font-size 1.5em
	height 70px

.ma-container
	color #000
	border 1px solid #333
	background-color #fff
	position absolute
	visibility hidden
	overflow-y auto
	overflow-x hidden
	z-index 20
	ul
		list-style none
		overflow hidden
		width 100%
		padding 0
		margin 0
	li
		padding 2px 5px
		line-height 16px
		cursor pointer
		float left
		width 100%
		overflow hidden
	.ma-hover
		color #fff
		background-color #146295 !important
	.ma-even
		background-color #efefef

/*!
 * Custom checkboxes
 * Technique and image by:
 * http://www.thecssninja.com/css/custom-inputs-using-css
 */
.filter-select li
	> input
		padding 0
		margin 0
		height 16px
		width 16px
		float left
		position absolute
		left 0
		opacity 0

	> input[type=checkbox]
		&:checked + label
			background-position 0 -81px

		&:hover:checked + label
		&:focus:checked + label
		&:checked + label:hover
		&:focus:checked + label
			background-position 0 -101px

		/* Hover & Focus styles */
		&:hover + label
		&:focus + label
		 + label:hover
			background-position 0 -21px

		/* Active styles */
		&:active + label
		 + label:hover:active
			background-position 0 -41px

		&:active:checked + label
		&:checked + label:hover:active
			background-position 0 -121px


		/* Disabled styles */
		&:disabled + label
		&:hover:disabled + label
		&:focus:disabled + label
		&:disabled + label:hover
		&:disabled + label:hover:active
			background-position 0 -61px

		&:disabled:checked + label
		&:hover:disabled:checked + label
		&:focus:disabled:checked + label
		&:disabled:checked + label:hover
		&:disabled:checked + label:hover:active
			background-position 0 -141px
