.icon-48-comments{background-image:url(../img/icon48.png)}
.icon-32-approve{background-image:url(../img/approve32.png)}
.icon-approve::before{content:"G";color:#51a351}
.icon-32-unapprove{background-image:url(../img/unapprove32.png)}
.icon-unapprove::before{content:"J";color:#bd362f}
.icon-32-spam{background-image:url(../img/spam32.png)}
.icon-spam::before{content:"5"}
.icon-32-restore{background-image:url(../img/restore32.png) !important}
.icon-32-edit{background-image:url(../img/edit32.png) !important}
.icon-32-trash{background-image:url(../img/trash32.png) !important}
.icon-32-delete{background-image:url(../img/delete32.png) !important}
.icon-32-options{background-image:url(../img/options32.png) !important}
#adminForm .copyright{text-align:center;margin:15px 0 0 0}
.adminlist td{position:relative}
.editing .actions{display:none !important}
.edit{width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
.submitted{float:left;width:100%;margin-bottom:5px}
.text{float:left;font-size:13px;color:#333}
.comment-email span{display:inline-block;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;max-width:125px;padding-left:4px;padding-right:1px}
.comment-email::before{content:"(";position:absolute}
.comment-email::after{content:")";position:absolute}
.comments-post{float:right;margin:5px 5px 0 0}
td:hover .actions{visibility:visible}
.actions{float:left;clear:both;margin:5px 5px 0 0;list-style-type:none;padding:0;visibility:hidden;}
.actions li{float:left;margin:2px;border-right:1px solid #333;padding-right:4px;}
.actions li:last-child{border:0}
.actions .approve-comment,.actions .not-spam-comment,.actions .restore-comment{color:#006505}
.actions .unapprove-comment{color:#d98500}
.actions .spam-comment,.actions .trash-comment,.actions .delete-comment{color:#bc0b0b}
.approved .not-spam-comment,.unapproved .not-spam-comment,.approved .restore-comment,.unapproved .restore-comment,.approved .delete-comment,.unapproved .delete-comment{display:none}
.approved .trash-comment,.unapproved .trash-comment{border:0}
.approved .approve-comment{display:none}
.unapproved .unapprove-comment{display:none}
.spam .unapprove-comment,.trashed .unapprove-comment,.spam .approve-comment,.trashed .approve-comment,.spam .spam-comment,.trashed .spam-comment,.spam .trash-comment,.trashed .trash-comment{display:none}
.spam .restore-comment{display:none}
.trashed .not-spam-comment,.trashed .edit-comment{display:none}
.slicomments-quote{border:1px solid #000;background:#ffc;padding:10px;margin:0 0 15px 15px;-webkit-border-radius:10px;border-radius:10px;}
.slicomments-quote .slicomments-quoteDate{color:#999;font-size:.8em}
.info-filters{color:#333;margin:0 0 5px 5px}
#clear-filters{display:none;padding-left:14px;background:url(../img/clear.png) no-repeat;color:#333}
#filter-status{margin:0}
.hasFilters #clear-filters{display:inline}
.hasFilters #no-filters{display:none}
.filter-input{width:160px;padding:2px;margin:5px 0 !important;color:#333;background:#f9f9f9;font-family:"Monaco","Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono","monospace";height:14px;font-size:1em;background-color:#fff !important;}
.filter-input:focus{border-color:#999}
.filter-input[type=search]{-webkit-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.filter-select{position:relative;}
.filter-select .filter-container{display:none;padding:5px 10px;min-width:80px;position:absolute;top:100%;border:1px solid #aaa;right:0;z-index:5;margin-top:-1px;background:#ededed}
.cssgradients .filter-select .filter-container{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #dcdcdc));background:-webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-o-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:linear-gradient(top, #fff 0%, #dcdcdc 100%)}
.filter-select.open .filter-container{display:block}
.filter-select fieldset{margin:2px;border:none;padding-bottom:0}
.filter-select ul{overflow:hidden;}
.filter-select ul li{clear:both;padding:0;overflow:hidden;margin:5px 0}
.filter-select label{cursor:pointer;color:#404040;text-shadow:1px 1px rgba(0,0,0,0.1);background:url(../img/custom-inputs.png) 0 -1px no-repeat;height:16px;padding-left:20px;margin:0}
.filter-button{width:40px;height:25px;position:relative;margin:0;padding:0;cursor:pointer;-webkit-box-shadow:inset 0 0 0 1px #fff,0 1px 2px rgba(0,0,0,0.1);box-shadow:inset 0 0 0 1px #fff,0 1px 2px rgba(0,0,0,0.1);border:solid 1px #b7b7b7;font-size:1.1em;color:#606060;margin-left:-1px;background:#fff;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ededed));background:-webkit-linear-gradient(top, #fff 0%, #ededed 100%);background:-moz-linear-gradient(top, #fff 0%, #ededed 100%);background:-o-linear-gradient(top, #fff 0%, #ededed 100%);background:-ms-linear-gradient(top, #fff 0%, #ededed 100%);background:linear-gradient(top, #fff 0%, #ededed 100%);}
.filter-button:hover{background:#ededed;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #dcdcdc));background:-webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-o-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:linear-gradient(top, #fff 0%, #dcdcdc 100%);z-index:1}
.open .filter-button{background:#ededed;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #ededed), color-stop(1, #fff));background:-webkit-linear-gradient(top, #ededed 0%, #fff 100%);background:-moz-linear-gradient(top, #ededed 0%, #fff 100%);background:-o-linear-gradient(top, #ededed 0%, #fff 100%);background:-ms-linear-gradient(top, #ededed 0%, #fff 100%);background:linear-gradient(top, #ededed 0%, #fff 100%);color:#999}
.filter-button .filter-icon{margin:1px 0 0 5px;float:left}
.filter-button .arrow-down{margin:0;padding:0;width:0;height:0;border:4px solid transparent;border-top-color:#808080;position:absolute;top:9px;right:4px}
.spinner-container{background-color:#fff;opacity:.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";z-index:1}
.icon-sort.sort-dir-asc{background:url("../../system/images/sort_asc.png") no-repeat;padding-left:12px;margin-left:3px}
.icon-sort.sort-dir-desc{background:url("../../system/images/sort_desc.png") no-repeat;margin-left:3px;padding-left:12px}
.no-comments{text-align:center;font-size:1.5em;height:70px}
.ma-container{color:#000;border:1px solid #333;background-color:#fff;position:absolute;visibility:hidden;overflow-y:auto;overflow-x:hidden;z-index:20;}
.ma-container ul{list-style:none;overflow:hidden;width:100%;padding:0;margin:0}
.ma-container li{padding:2px 5px;line-height:16px;cursor:pointer;float:left;width:100%;overflow:hidden}
.ma-container .ma-hover{color:#fff;background-color:#146295 !important}
.ma-container .ma-even{background-color:#efefef}
/*
 * Custom checkboxes
 * Technique and image by:
 * http://www.thecssninja.com/css/custom-inputs-using-css
 */
.filter-select li > input{padding:0;margin:0;height:16px;width:16px;float:left;position:absolute;left:0;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
.filter-select li > input[type=checkbox]:checked + label{background-position:0 -81px}
.filter-select li > input[type=checkbox]:hover:checked + label,.filter-select li > input[type=checkbox]:focus:checked + label,.filter-select li > input[type=checkbox]:checked + label:hover,.filter-select li > input[type=checkbox]:focus:checked + label{background-position:0 -101px}
.filter-select li > input[type=checkbox]:hover + label,.filter-select li > input[type=checkbox]:focus + label,.filter-select li > input[type=checkbox] + label:hover{background-position:0 -21px}
.filter-select li > input[type=checkbox]:active + label,.filter-select li > input[type=checkbox] + label:hover:active{background-position:0 -41px}
.filter-select li > input[type=checkbox]:active:checked + label,.filter-select li > input[type=checkbox]:checked + label:hover:active{background-position:0 -121px}
.filter-select li > input[type=checkbox]:disabled + label,.filter-select li > input[type=checkbox]:hover:disabled + label,.filter-select li > input[type=checkbox]:focus:disabled + label,.filter-select li > input[type=checkbox]:disabled + label:hover,.filter-select li > input[type=checkbox]:disabled + label:hover:active{background-position:0 -61px}
.filter-select li > input[type=checkbox]:disabled:checked + label,.filter-select li > input[type=checkbox]:hover:disabled:checked + label,.filter-select li > input[type=checkbox]:focus:disabled:checked + label,.filter-select li > input[type=checkbox]:disabled:checked + label:hover,.filter-select li > input[type=checkbox]:disabled:checked + label:hover:active{background-position:0 -141px}
