.icon-48-comments {
	background-image: url(../img/icon48.png)
}
.icon-32-approve {
	background-image: url(../img/approve32.png)
}
.icon-32-unapprove {
	background-image: url(../img/unapprove32.png)
}
.icon-32-spam {
	background-image: url(../img/spam32.png)
}
.icon-32-restore {
	background-image: url(../img/restore32.png) !important
}
.icon-32-edit {
	background-image: url(../img/edit32.png) !important
}
.icon-32-trash {
	background-image: url(../img/trash32.png) !important
}
.icon-32-delete {
	background-image: url(../img/delete32.png) !important
}
.icon-32-options {
	background-image: url(../img/options32.png) !important
}
#adminForm .copyright {
	text-align: center;
	margin: 15px 0 0 0
}
.adminlist td {
	position: relative
}

.editing .actions {
	display: none !important
}
.edit {
	width:100%;
	box-sizing:border-box;
	padding: 0
}
.text {
	float:left;
	width: 100%;
}
.actions {
	float: left;
	clear: both;
	margin: 5px 5px 0 0;
	list-style-type: none;
	padding: 0;
	visibility: hidden;
}
.comments-post {
	float: right;
	margin: 5px 5px 0 0;
}
td:hover .actions {
	visibility: visible
}
.actions li {
	float: left;
	margin: 2px;
	border-right: 1px solid #333;
	padding-right: 4px;
}
.actions li:last-child {
	border: 0;
}
.actions .approve-comment {
	color: #006505
}
.actions .unapprove-comment {
	color: #D98500;
}
.actions .spam-comment, .actions .trash-comment, .actions .delete-comment {
	color: #BC0B0B;
}
.submitted {
	float: left;
	margin-bottom: 5px
}
.flagged {
	float: left;
	margin-left: 5px
}
.text {
	font-size: 1.1em;
	color: #333
}
.slicomments-quote {
	border: 1px solid black;
	background: #FFC;
	padding: 10px;
	margin: 0 0 15px 15px;
	border-radius: 10px;
}
.slicomments-quote .slicomments-quoteDate {
	color: #999;
	font-size: 0.8em;
}
