#comments_section h4 {
	margin-bottom: 10px;
}
.comment-list {
	clear:both;
	margin-top: 10px !important;
	padding: 0 !important;
}
.comment {
	position: relative;
	list-style: none;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #E1E1E1;
	margin: 0 !important;
	padding: 10px 0 !important;
}
.comment-list:first-child {
	border-top: none;
}
.comment-list:last-child {
	border-bottom: none;
}
.profile-image-container {
	float: left;
	height: 40px;
	width: 40px;
}
.profile-image {
	height: 100%;
	width: 100%;
}
.content-container, .comments_form form {
	margin-left: 55px;
}
.clr{clear: both}
.author {
	line-height: normal;
	font-size: 0.9em;
}
.comment .content {
	width: 100%;
}
.comments_form_inputs {
	margin: 0 !important;
	padding: 0 !important;
	list-style-type: none !important;
}
.comments_form_inputs li {
	margin: 8px 0 0 0 !important;
	position: relative;
}
.comments_form_inputs li label{
	min-width: 45px;
	display: block;
	float: left;
}
.comments_form_inputs li input{
	height: 18px;
	padding-left: 2px
}

.comments_form textarea {
	padding: 5px;
	width: 98%;
	height: 40px;
}
.comments_form textarea, .comments_form input {
	font-family: arial, helvetica, sans-serif;
	border: 1px solid #CCC;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	box-shadow: 0 0 5px rgba(81, 203, 238, 0);
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
	-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
}
.no-js textarea {
	min-height: 50px;
}
.comments_form textarea.init {
	height: 100px;
}
.comments_form textarea:hover, .comments_form input:hover {
	border: 1px solid #999 !important; 
}
.comments_form textarea:focus, .comments_form input:focus {
	outline: none;
	border: 1px solid #CCC !important; 
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
.comments-remaining {
	float: left
}
.no-js .comments-remaining {
	display: none
}
.comments-post-buttons {
	float: right
}
.overTxtLabel {
	color: #999
}
.comment-delete {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
}
.comment:hover .comment-delete {
	display: block;
}
#comments_section .pagination {
	border-top: none !important
}