#comments:before,
#comments:after {
	content: "";
	display: table;
}

#comments:after {
	clear: both;
}
#comments {
	zoom: 1;
}
#comments h4 {
	margin-bottom: 10px;
}
.comment-list {
	clear: both;
	margin-top: 10px !important;
	padding: 0 !important;
}
.comment {
	position: relative;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #E1E1E1;
	margin: 0 !important;
	padding: 10px 0 !important;
}
.comment-list:first-child {
	border-top: none;
}
.comment-list:last-child {
	border-bottom: none;
}
.profile-image-container {
	float: left;
	height: 40px;
	width: 40px;
}
.profile-image {
	height: 100%;
	width: 100%;
}
.content-container {
	margin-left: 55px;
}
.clr {
	clear: both
}
.author {
	line-height: normal;
	font-size: 0.9em;
}
.created, .slicomments-quote .slicomments-quoteDate {
	color: #999;
	font-size: 0.8em;
}
.comment .edit-area {
	width: 100%;
}
.comment .content {
	width: 100%;
	text-align: justify;
}
.comments_form_inputs, .comments_form_inputs li, .comment-list, .comment{
	list-style-type: none !important;
}
.comments_form_inputs {
	margin: 0 0 0 55px !important;
	padding: 0 !important;
}
.comments_form_inputs li {
	margin: 8px 0 0 0 !important;
	position: relative;
	background: none !important;
}
.comments_form_inputs li label{
	min-width: 45px;
	display: block;
	float: left;
}
.comments_form_inputs li input{
	height: 18px;
	padding: 1px 5px;
	margin: 0;
}
.comments_form textarea {
	padding: 5px;
	width: 100%;
	height: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	/* IE7 doesn't support box-sizing, so remove the padding*/
	*padding: 0px;
}
.comments_form textarea, .comments_form input {
	font-family: arial, helvetica, sans-serif;
	border: 1px solid #CCC;
	-webkit-transition: border 0.25s ease-in-out;
	-moz-transition: border 0.25s ease-in-out;
	transition: border 0.25s ease-in-out;
}
.no-js textarea {
	min-height: 50px;
}
.comments_form textarea:hover, .comments_form input:hover,
.comments_form textarea:focus, .comments_form input:focus {
	outline: none;
	border: 1px solid #999 !important;
}
.comments-remaining {
	margin: 8px 0 8px 55px;
	float: left;
}
.no-js .comments-remaining {
	display: none;
}
.comments-post-buttons {
	float: right;
}
.overTxtLabel {
	color: #999;
}
.login-to-post {
	line-height: normal;
	cursor: text;
	position: absolute;
	left: 6px;
	top: 6px;
	color: #333;
}
#comments .pagination {
	border-top: none !important;
}
.comments_form .validation-advice {
	color: #F11;
	font-style: italic;
}
.comment:hover .comments-actions {
	display: block !important;
}
.comments-actions {
	position: absolute;
	top: 0;
	right: 0;
	list-style-type: none !important;
	margin: 3px 0 0 0 !important;
	padding: 0 !important;
	display: none !important;
}
.comments-actions li {
	display: inline;
	padding-left: 4px !important;
	border-left: 1px solid #000;
	line-height: 1.1em !important;
}
.comments-actions li:first-child {
	border-left: none;
}
.comment.editing .comments-actions, .comment.editing .content {
	display: none !important;
}
.rating.positive {
	color: green;
}
.rating.negative {
	color: red;
}
.slicomments-quote {
	border: 1px inset;
	background: #E9E9E9;
	padding: 2px 4px;
	margin: 0 0 15px 15px;
}
.spoiler-hide .slicomments-spoilerContent {
	display: none;
}
.slicomments-spoilerContent .slicomments-spoiler {
	margin-left: 10px;
}
.comments-post-buttons span {
	display: none;
}
.reply-form .comments-post-buttons span, .edit-form  .comments-post-buttons span{
	display: inline;
}
.edit-form .comments_form_inputs {
	margin: 0 !important;
}
.edit-form .comments-remaining {
	margin-left: 0
}
.reply-form textarea, .edit-form textarea {
	height: 100px !important;
}
.no-avatar .comments_form_inputs, .no-avatar .content-container, .no-avatar .comments-remaining {
	margin-left: 0 !important;
}
.comment .pending {
	color: red;
	font-size: 0.9em;
	font-style: italic;
}
#live-comments-info, #live-comments-disable {
	display: none;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #999;
	clear: both
}
